@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body {
  background-image: url('../Imagenes/FONDOAGENDARCITA.jpg');
  /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
  background-size: cover;
  /* Ajusta la imagen para que cubra toda el área del body */
  background-position: center;
  /* Centra la imagen */
  font-family: 'Poppins', sans-serif;
}

.Nombre_Usuario {
  text-align: center;
  margin-bottom: 20px;
}

/*ESTILO PARA OCULTAR SECCIONES Y CAMBIAR ENTRE PASOS*/
.Seccion {
  display: none;
}

.Seccion.activa {
  display: block;
}


/*ESTILO PARA OCULTAR DATOS SEGÚN EL TIPO DE CITA*/
.Datos_Menor {
  display: none;
}

/*.Datos_Pareja {
    display: none;
}*/

.btn_Confirmar {
  display: none;
}

/* CODIGO DE PASOS */
/* Estilos base para dispositivos grandes */
.Pasos_cita ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.Pasos_cita li {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 3px solid #3A3F35;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 25px;
  transition: background-color 0.3s;
}

.Pasos_cita li .linea {
  position: absolute;
  height: 3px;
  width: 30px;
  /* Ajustar el ancho inicial de la línea */
  background: #BFBFBF;
  /* Color por defecto de la línea */
  top: 50%;
  left: calc(100% + 5px);
  transition: background-color 0.3s, width 0.4s;
}

/* Media query para tablets */
@media (max-width: 768px) {
  .Pasos_cita li {
    width: 40px;
    /* Reducir el tamaño de los pasos */
    height: 40px;
    line-height: 40px;
    margin: 0 15px;
    /* Ajustar el margen entre los pasos */
  }

  .Pasos_cita li .linea {
    width: 20px;
    /* Ajustar el ancho de la línea */
  }
}

/* Media query para teléfonos móviles */
@media (max-width: 480px) {
  .Pasos_cita li {
    width: 30px;
    /* Reducir aún más el tamaño de los pasos */
    height: 30px;
    line-height: 30px;
    margin: 0 15px;
    /* Ajustar el margen entre los pasos */
  }

  .Pasos_cita li .linea {
    width: 15px;
    /* Ajustar el ancho de la línea */
  }
}

/* CODIGO DE PASOS */

/* CODIGO PARA FORMULARIO */

label {
  display: block;
  text-align: left;
}

/* Cuando la pantalla tiene 600px o menos de ancho, los labels están centrados */
@media (max-width: 600px) {
  label {
    text-align: center;
  }
}


#btn_Confirmar,
button.btn-primary[onclick="AnteriorPaso()"],
#btn_Siguiente {
  background-color: #D0D0BD;
  border: none;
  color: #000000;
}

#btn_Confirmar:hover,
button.btn-primary[onclick="AnteriorPaso()"]:hover,
#btn_Siguiente:hover {
  background-color: #999986;
}

/* Estilos para el botón de cancelar */
#cancelarBtn {
  background-color: #D0D0BD;
  border: none;
  color: #000000;
  margin-top: 10px;
}

#cancelarBtn:hover {
  background-color: #999986;
}

.btn {
  margin-top: 0px;
  margin-bottom: 20px;
  height: 35px;
  width: 110px;
  margin-left: 15px;
  font-size: 0.75rem;
  font-weight: 500;
  /* Establece la fuente en negrita */
  letter-spacing: 0.05rem;
  /* Añade espacio entre las letras */
}


.card {
  max-height: 93vh;
  max-width: 90%;
  /* Cambia el valor según tus necesidades */
  color: white;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-radius: 12px;
  background-color: rgba(65, 68, 64, 0.7);
  /* Color de fondo translúcido */
  margin: auto;
  /* Centra horizontalmente */

}


/* Efecto sombreado mouse encima*/
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Padding alrededor de la carta */
.container {
  padding: 12px 26px;

  min-height: 80vh;
  /* Asegura que el contenedor siempre tenga al menos la altura de la pantalla */

}

#Tipo_Cita {
  text-align: center;
  margin-bottom: 18px;
}

#Fecha_Hora {
  text-align: center;
  margin-bottom: 18px;
}

#Datos_Paciente {
  text-align: center;
  margin-bottom: 18px;
}

#Confirmar_Cita {
  text-align: center;
  margin-bottom: 18px;
}

/* CODIGO PARA FORMULARIO */

.duraciontext {
  font-family: 'Poppins', sans-serif;

  font-size: 1rem;
  margin-top: 50px;
}

.imagen-selector {
  width: 200px;
}

/* CODIGO PARA SELECTOR DE SERVICIOS */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

.Selector {
  background: transparent;
  border-radius: 15px;
  padding: 8px;
  min-width: 180px;
  color: white;
  border-color: white;
  font-size: 0.8rem;
  /* Ajusta el tamaño de la fuente según tus necesidades */
  border: solid 1px;
}

.Selector:focus {
  outline: none;
  /* Elimina el borde predeterminado del enfoque */
  border-color: white;
  /* Mantiene el borde blanco en el enfoque */
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.8rem;
  left: 50%;
  /* Posición relativa al contenedor padre */
  transform: translateX(-50%);
  /* Centra el contenido horizontalmente */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  /* Alinea el texto a la izquierda */
}

.dropdown-content a:hover {
  background-color: #3A3F35;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* CODIGO PARA SELECTOR DE SERVICIOS */


/* CODIGOS PARA OTROS ELEMENTOS */

#Fecha {
  width: 219px;
  height: 40px;
  border-radius: 8px;
  ;
  border: solid 3px;
  padding: 5px;
  border-color: #ffffff;

}

#Hora {
  margin-left: 3px;
  width: 175px;
  height: 40px;
  border-radius: 8px;
  ;
  border: solid 3px;
  padding: 5px;
  border-color: #ffffff;

}

/* Asegura que los bordes permanezcan del mismo color en estados focus y active */
#Fecha:focus,
#Fecha:active,
#Hora:focus,
#Hora:active {
  border-color: #3A3F35;
  outline: none;
  /* Opcional: quita el outline azul de algunos navegadores */
}

.horas {
  margin-top: -15px;
}

.fechas {
  margin-top: -15px;
}

.documentobtn {
  border-radius: 5px;
  border: solid 3px;
  padding: 5px;
  border-color: #ffffff;

}

.contenedorconfirmar {
  margin-top: 50px;

}

.parrafos {

  font-size: 13px;

}

/* CODIGOS PARA OTROS ELEMENTOS */