/*ESTILO PARA OCULTAR SECCIONES Y CAMBIAR ENTRE PASOS*/
.Seccion {
    display: none;
}

.Seccion.activa {
    display: block;
}

.pasos-activo {
    border: 2px solid #007bff;
    padding: 5px;
    border-radius: 5px;
}

/*ESTILO PARA OCULTAR DATOS SEGÚN EL TIPO DE CITA*/
.Datos_Menor {
    display: none;
}

/*.Datos_Pareja {
    display: none;
}*/

.btn_Confirmar{
    display: none;
}


.Pasos_cita ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .Pasos_cita li {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 3px solid #3A3F35;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 25px;
    transition: background-color 0.3s;
  }
  
  .Pasos_cita li .linea {
    position: absolute;
    height: 3px;
    width: 30px; 
    background: #BFBFBF;
    top: 50%;
    left: calc(100% + 5px);
    transition: background-color 0.3s, width 0.4s;
  }
  

  

  
  }
  

  
