body {
    background-image: url('../Imagenes/fondo\ 3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.logo-encima {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px; /* Ajusta el tamaño de tu logo */
    margin-top: 0px;
}

@media (max-width: 	1130px) {
    .logo-encima{
      margin-top: 170px;
        
    }
  }
.contenedor-principal {
    text-align: left;
    max-width: 800px; /* Aumenta el ancho máximo */
    width: 100%;
    padding: 20px; /* Añade padding a los lados */
}

h1 {
    text-align: center;
}
h2 {
    color: #343a40;
}

.subtitulo {
    font-size: 16px; /* Aumenta el tamaño de fuente */
    text-align: center;
}

@media (max-width: 768px) {
    .contenedor-principal {
        max-width: 100%;
        padding: 0 10px; /* Reduce el padding en resoluciones más pequeñas */
    }
}

@media (max-width: 480px) {
    .contenedor-principal {
        max-width: 100%;
        padding: 0 15px; /* Reduce aún más el padding en resoluciones muy pequeñas */
    }
}

.boton {
    background-color: #3A3F35; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón a blanco para asegurar la legibilidad */
    border: none;
    margin-bottom: 10px;
    align-items: center;
    font-size: 0.75rem;
    letter-spacing: 0.05rem; /* Añade espacio entre las letras */
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio encima de los botones */
}

.boton:active {
    background-color: #3A3F35 !important;
}

.boton:hover {
    background-color: #D0D0BD; /* Cambia el color de fondo del botón al pasar el mouse por encima a #3A3F35 con una transparencia del 20% */
    color: black;}
