
body {
  background-image: url('../Imagenes/fondo\ 3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;


  color:#000000;
}

.btn {
  
    background-color: #3A3F35;
    margin-top: 10px; 
    color: rgb(255, 255, 255);
    border: none;
    box-shadow:inset;
    font-size: 0.75rem;
    letter-spacing: 0.05rem; /* Añade espacio entre las letras */
  
  }
  .Nombre_Usuario{
    display: grid;
    place-items: center;
    margin-top: -60px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .mi-logo{
    width: 150px;
    height: 150px; /* Ajusta la altura según tus necesidades */
    background-image: url('../imagenes/lOGO PSICOLOGIA FULL BLANCO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 60px;

}
  .mi-boton:active {
    background-color: #3A3F35 !important;
    color: rgb(255, 255, 255) !important;
  }
  
  .btn:hover {
    background-color: rgba(107, 107, 97, 0.7);/* color de seleccion #3A3F35 con 20% de transparencia */
    color: rgb(0, 0, 0);
  }
  @media screen and (max-width: 1130px) {
    .Contenido_Principal {
    
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .Nombre_Usuario {
        font-size: 1.5em;
    }

    .mi-logo {
      width: 150px;
      height: 150px; /* Ajusta la altura según tus necesidades */
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
      background-image: url('../imagenes/logo marron.png');
  }
  body {
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
  
  
    color:#000000;
  }

    
}