body {
    background-image: url('../Imagenes/fondo\ 3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
  
  
    color:#000000;
  }
  

.Datos_Modificar{
    min-height: 93vh;
    width: 100%;
    background-color: rgba(197, 209, 194, 0.7); /* Color de fondo translúcido */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 15px;
  }

  .titulos {
    margin-top: -80px;
    font-size: 18px;
    display: flex; /* Add this */
    flex-direction: column; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
    
  }


  .btn {
    
    background-color: #3A3F35;
    margin-top: 10px; 
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow:inset;
    font-size: 0.75rem;
    letter-spacing: 0.05rem; /* Añade espacio entre las letras */
  
  }
  
  .mi-boton:active {
    background-color: #3A3F35 !important;
    color: rgb(255, 255, 255) !important;
  }
  
  .btn:hover {
    background-color: rgba(107, 107, 97, 0.7);/* color de seleccion #3A3F35 con 20% de transparencia */
    color: rgb(0, 0, 0);
  }
  .mi-logo{
    width: 15%;
    height: auto;
  }

  @media (max-width: 1130px) {
    body {
      font-size: 14px;
      
    }
  
    .Datos_Modificar{
      padding: 40px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      
     
    }
  
    .form-control {
      width: 100%;
    }
  
    .titulos {
      margin-top: 20px;
      font-size: 14px;
      display: flex; /* Add this */
      flex-direction: column; /* Add this */
      justify-content: center; /* Add this */
      align-items: center; /* Add this */
      
    }
    .mi-logo{
      width: 55%;
      height: auto;
    }
    .btn {
      font-size: 0.65rem;
      width: 200px;
    }
  
  }